
@model  demoshopViewModels




@foreach (var man in Model.My_CardViewModels)
{
    
        var images = man.My_HotelImages;
        var rooms = man.My_Rooms;
        var roomdetail = man.My_RoomsDetails;
        var newPrice = (int)(rooms.RoomPrice * (1 - roomdetail.RoomDiscount));
    
    <div class="col-3  border" style="margin: 20px;">
        <div id="img" class="d-flex"
             style="background:  no-repeat center/100% url(@images.ImageURL);">
            <div id="comment"
                 style="width: 124px;height: 49.2px; background-color: white; border-radius: 2px; margin-left: 130px;margin-top: 10px;">
                <div class="d-flex justify-content-end  align-items-center">
                    <div class="row" style="width:85.8375px;    margin-right: 5px;">
                        <span class="fw-bold  " style="text-align:end; font-size: 16px; line-height:22px;"
                              id="comment1">很讚</span>
                        <p style="font-size: 12px;line-height: 13.2px; text-align:end;" id="Quantity">
                            1198篇評鑑
                        </p>
                    </div>
                    <div>
                        <i class="fas fa-comment-alt fa-2x" id="comment-box"
                           style="width: 34px; height: 44px; color: #5392f9; margin-top: 10px; margin-right: 5px;">
                            <span class="text-white"
                                  style="font-weight: 600; line-height: 44px; font-size: 16px; "
                                  id="fraction">8.8</span>
                        </i>

                    </div>

                </div>


            </div>


        </div>
        <!--
        <img src="https://pix6.agoda.net/hotelImages/335/335043/335043_16121920250049783861.jpg"> -->
        <div>
            <div style="margin: 10px;">
                <h3 class="fw-bold" style="font-size: 16px; line-height:22px;">@man.HotelName</h3>
                <p style="font-size:12px; line-height: 20px;">@man.HotelCity</p>
                @for (int i = 0; i < man.Star; i++)
                {
                    <i class="fas fa-star text-warning"></i>
                }



            </div>
            <div class="d-flex justify-content-end  flex-column  align-items-end" style="height: 144px;">
                <div id="sale" class="d-flex justify-content-center bg-danger align-items-center">
                    <h4 class="text-white ">@Math.Round((1 - roomdetail.RoomDiscount) * 10, 1) 折 </h4>
                </div>
                <span style="text-decoration:line-through; color: #90949c; font-family: Comic Sans MS;font-size: 14px;line-height: 20px;font-weight: 400;">
                    NT$ @Math.Ceiling(rooms.RoomPrice).ToString("N0")
                </span>
                <p class="text-danger"
                   style="font-size: 12px;font-weight: 300;line-height: 20px; font-family: Comic Sans MS;">
                    NT$ @newPrice.ToString("N0")
                </p>
            </div>
        </div>

    </div>


}

